@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --color-primary: #212121;
  --color-secondary: #171717;
  --color-tertiary: #2f2f2f;
}

body {
  background-color: var(--color-primary);
  color: white;
}
